In [1]:
import pandas as pd

In [2]:
data = [
    ['2020-09-01', 'sunny', 'high', 0],
    ['2020-09-02', 'sunny', 'middle', 0],
    ['2020-09-03', 'cloudy', None, None],
    ['2020-09-04', 'rainy', 'low', 3],
    ['2020-09-05', 'rainy', 'low', 2],
    ['2020-09-06', 'sunny', 'middle', None],
    ['2020-09-07', 'sunny', None, 0],
]

df = pd.DataFrame(data, columns=['date', 'weather', 'temperature', 'rainfall'])
df = df.set_index('date')

df

           weather temperature  rainfall
date
2020-09-01   sunny        high       0.0
2020-09-02   sunny      middle       0.0
2020-09-03  cloudy        None       NaN
2020-09-04   rainy         low       3.0
2020-09-05   rainy         low       2.0
2020-09-06   sunny      middle       NaN
2020-09-07   sunny        None       0.0

In [3]:
pd.get_dummies(df, columns=['weather', 'temperature'])

,rainfall,weather_cloudy,weather_rainy,weather_sunny,temperature_high,temperature_low,temperature_middle
date,,,,,,,
2020-09-01,0.0,0,0,1,1,0,0
2020-09-02,0.0,0,0,1,0,0,1
2020-09-03,NaN,1,0,0,0,0,0
2020-09-04,3.0,0,1,0,0,1,0
2020-09-05,2.0,0,1,0,0,1,0
2020-09-06,NaN,0,0,1,0,0,1
2020-09-07,0.0,0,0,1,0,0,0

In [4]:
pd.get_dummies(df, columns=['weather', 'temperature'], dummy_na=True)

,rainfall,weather_cloudy,weather_rainy,weather_sunny,weather_nan,temperature_high,temperature_low,temperature_middle,temperature_nan
date,,,,,,,,,
2020-09-01,0.0,0,0,1,0,1,0,0,0
2020-09-02,0.0,0,0,1,0,0,0,1,0
2020-09-03,NaN,1,0,0,0,0,0,0,1
2020-09-04,3.0,0,1,0,0,0,1,0,0
2020-09-05,2.0,0,1,0,0,0,1,0,0
2020-09-06,NaN,0,0,1,0,0,0,1,0
2020-09-07,0.0,0,0,1,0,0,0,0,1

In [5]:
pd.get_dummies(df, columns=['weather', 'temperature'], dummy_na=True, drop_first=True)

,rainfall,weather_rainy,weather_sunny,weather_nan,temperature_low,temperature_middle,temperature_nan
date,,,,,,,
2020-09-01,0.0,0,1,0,0,0,0
2020-09-02,0.0,0,1,0,0,1,0
2020-09-03,NaN,0,0,0,0,0,1
2020-09-04,3.0,1,0,0,1,0,0
2020-09-05,2.0,1,0,0,1,0,0
2020-09-06,NaN,0,1,0,0,1,0
2020-09-07,0.0,0,1,0,0,0,1